/* Coolors Exported Palette - coolors.co/d79922-efe2ba-f13c20-4056a1-c5cbe3 */

/* HSL */
$color1: hsla(39%, 73%, 49%, 1);
$color2: hsla(45%, 62%, 83%, 1);
$color3: hsla(8%, 88%, 54%, 1);
$color4: hsla(226%, 43%, 44%, 1);
$color5: hsla(228%, 35%, 83%, 1);

/* RGB */
$color1: rgba(215, 153, 34, 1);
$color2: rgba(239, 226, 186, 1);
$color3: rgba(241, 60, 32, 1);
$color4: rgba(64, 86, 161, 1);
$color5: rgba(197, 203, 227, 1);